body {
    width: 400px;
    overflow: hidden;
}

body > * {
    transform: opacity .15s linear;
}

.content-loading {
    min-height: 40px;
}

.content-loading > * {
    opacity: 0;
}

.content-loading::before {
    content: '';
    width: 32px;
    height: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    animation: rotate360deg 1.5s linear infinite;
    background: var(--button-ghost-icon-color);
    mask-image: url(../../_shared/icons/Preferences.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 32px;
}

@keyframes rotate360deg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.frame-shell {
    display: flex;
    width: 200vw;
    transition: transform .15s linear;
}

.frame-shell--aside-active {
    transform: translateX(-100vw);
}

.frame {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.frame:not(.frame--active) > * {
    display: none;
}

header {
    flex-shrink: 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
}

header .button-ghost {
    flex-shrink: 0;
}

.form-field--search {
    width: 100%;
}

.frame-content {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
	border-top: 1px solid rgba(12, 12, 13, 0.1); /* TODO: color to CSS var*/
	border-bottom: 1px solid rgba(12, 12, 13, 0.1); /* TODO: color to CSS var*/
}

footer {
    flex-shrink: 0;
}

footer .button-ghost {
    width: 100%;
    padding-left: 40px;
    border-radius: 0;
}

footer .button-ghost::before {
    mask-position: 13px 50%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list__item--highlight {
    box-shadow: inset 0px 0px 3px var(--grey-90-a30);
}

.list__item:hover {
	background-color: var(--grey-90-a10);
}

.list__close-wrapper,
.list__link {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 4px 10px;

    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.list__close-wrapper {
    padding: 0;
}

.list__close-wrapper .list__link { /* group name */
    padding-left: 0;
}

.list__link span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.list__item--drag .list__link {
    padding-left: 0;
}

.list__drag,
.list__close {
    box-sizing: content-box;
    display: block;
    padding: 4px 10px;
}

.list__drag::after,
.list__close::after {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background: var(--button-ghost-icon-color);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 16px;
}

.list__drag {
    padding-left: 13px;
    cursor: move;
    transition: opacity .1s linear;
    opacity: 0;
}

.list__drag::after {
    mask-image: url(../../_shared/icons/Menu.svg);
}

.list__close {
    display: none;
}

.list__close::after {
    mask-image: url(../../_shared/icons/Close.svg);
}

.list__item:hover .list__drag {
    opacity: 1;
}

.list__item:hover .list__close {
    display: block;
}

.list__drag:hover,
.list__close:hover {
	background-color: rgba(12, 12, 13, 0.05);
}

.list__link--extend {
    flex: 0 0 30%;
    justify-content: space-between;
    border-left: 1px solid rgba(12, 12, 13, 0.1);
}

.list__link--extend::after {
    content: '';
    height: 16px;
    width: 16px;
    background: var(--button-ghost-icon-color);
    mask: url(../../_shared/icons/Arrowhead\ Right.svg) center center no-repeat;
    mask-size: 16px;
}

.list__link--extend:hover {
	background-color: rgba(12, 12, 13, 0.05);
}

.tab__icon {
    margin-right: 10px;
}

.group-name {
    width: 100%;
    min-height: 24px;
    margin: 0;
    position: relative;

    font-size: 16px;
    line-height: 1.2;
    
    /* Two line ellipsis */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.group-edit {
    display: none;
    box-sizing: content-box;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.group-name:hover .group-edit {
    display: block;
}

.group-edit:hover {
	background-color: rgba(12, 12, 13, 0.05);
}

.group-edit::after {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background: var(--button-ghost-icon-color);
    mask: url(../../_shared/icons/Edit.svg) center center no-repeat;
    mask-size: 16px;
}

.group-edit-input {
    width: 100%;
}