
/* view */
body.dark {
	background-color: #2a2a2e;
}

.dark #toolbar {
	border-left-color: rgba(249, 249, 250, 0.2);
}

.dark #toolbar .button:hover {
	background-color: rgba(249, 249, 250, 0.2);
}

.dark #toolbar .button:active {
	background-color: rgba(249, 249, 250, 0.25);
}

.dark #newGroup {
	background-image: url(/icons/plus_light.svg);
}

.dark #toggleTheme {
	background-image: url(/icons/theme_light.svg);
}

.dark #settings {
	background-image: url(/icons/preferences_light.svg);
}

/* groups */
.dark .group > .inner {
	border-color: rgba(249, 249, 250, 0.2);

	background-color: #0c0c0d;
}

.dark .group > .inner:before {
	border: none;
}

.dark .group .header input {
	color: #b1b1b3;
}

.dark .group .header input.edit {
	color: #f9f9fa;
}

.dark .group .header .tab_count {
	background-color: rgba(249, 249, 250, 0.2);

	color: #b1b1b3;
}

.dark .group .header .close {
	background-image: url(/icons/group_close_dark.svg);
}

/* tabs */
.dark .tab .inner {
	border-color: #38383d;

	outline-color: #58585b;

	background-color: #38383d;
}

.dark .tab.inactive .inner {
	opacity: 0.6;
}

.dark .newtab .inner {
	border: rgba(249, 249, 250, 1) 2px dashed;

	background-image: url(/icons/plus_light.svg);

	opacity: 0.25;
}

.dark .tab .thumbnail {
	filter: brightness(0.8);
}

.dark .tab .favicon {
	border-right-color: #38383d;
	border-bottom-color: #38383d;

	background-color: #38383d;
}

.dark .tab .name {
	color: #d7d7db;
}
