
.group {
	position: absolute;
}

.group > .inner {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;

	border: rgba(12, 12, 13, 0.2) 1px solid;
	border-radius: 4px;

	background-color: #ededf0;
}

.group > .inner:before {
	content: '';

	position: absolute;
	z-index: -1;

	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;

	border: 1px solid #ffffff;
	border-radius: 5px;
}

.group .header {
	height: 23px;

	position: absolute;
	top: 5px;
	right: 10px;
	left: 10px;
	z-index: 100;

	cursor: move;
}

.group .header input {
	width: calc(100% - 60px);
	height: 20px;

	position: absolute;
	top: -2px;
	left: -1px;

	display: none;

	border: none;

	background: none;

	color: #737373;
	font-size: 13px;
	line-height: 18px;
	font-family: inherit;
}

.group .header .name {
	min-width: 50px;
	max-width: calc(100% - 60px);

	padding-right: 5px;

	position: absolute;
	top: 0;
	left: 0;

	color: #737373;
	font-size: 13px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: '..';

	overflow: hidden;

	cursor: text;
}

.group .header.edit input {
	display: block;

	color: #2a2a2e;
}

.group .header.edit .name {
	display: none;
}

.group .header .tab_count {
	padding: 3px 5px 3px 5px;

	position: absolute;
	top: -5px;
	right: 20px;

	border-radius: 0 0 3px 3px;

	background-color: rgba(12, 12, 13, 0.2);

	color: #ffffff;
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
}

.group .header .close {
	width: 20px;
	height: 20px;

	position: absolute;
	top: 0;
	right: -5px;

	cursor: pointer;

	background-image: url(/icons/group_close.svg);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
}

.group .content {
	position: absolute;
	top: 28px;
	right: 4px;
	left: 4px;
	bottom: 4px;
}

.group .top {
	height: 7px;

	position: absolute;
	top: -2px;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .right {
	width: 7px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	right: -2px;

	cursor: ew-resize;
}

.group .bottom {
	height: 7px;

	position: absolute;
	bottom: -2px;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .left {
	width: 7px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	left: -2px;

	cursor: ew-resize;
}

.group .top_right {
	width: 22px;
	height: 22px;

	position: absolute;
	top: -2px;
	right: -2px;

	cursor: nesw-resize;
}

.group .bottom_right {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: -2px;
	right: -2px;

	cursor: nwse-resize;
}

.group .bottom_left {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: -2px;
	left: -2px;

	cursor: nesw-resize;
}

.group .top_left {
	width: 22px;
	height: 22px;

	position: absolute;
	top: -2px;
	left: -2px;

	cursor: nwse-resize;
}

#pinnedTabs {
	border-top: 1px solid #ccc;
}

#pinnedTabs .tab {
	width: 28px;
	height: 28px;
	position: relative;
	background: #fff;
	margin-top: 5px;
}

#pinnedTabs .tab .close,
#pinnedTabs .tab .name {
	display: none;
}

#pinnedTabs .tab .inner {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: none !important;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pinnedTabs .tab .favicon {
	border: 0;
	position: relative;
}
