
.group {
	display: flex;
	position: absolute;
}

.group > .inner {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;

	border: rgba(12, 12, 13, 0.2) 1px solid;
	border-radius: 4px;

	background-color: #ededf0;
	box-shadow: 0 0 1px #fff;
}

.group .header {
	display: flex;
	justify-content: stretch;
	align-items: flex-start;
	height: 23px;
	margin: 5px 10px 0;

	cursor: move;
}

.group .header input,
.group .header .name {
	padding: 0 5px 0 0;

	color: #737373;
	font-size: 13px;
	line-height: 18px;
	white-space: nowrap;
	text-overflow: '..';

	overflow: hidden;
}

.group .header input {
	display: none;

	border: none;

	background: none;

	font-family: inherit;
}

.group .header .name {
	cursor: text;
}

.group .header .spacer {
	flex: 1;
}

.group .header.edit input {
	flex: 1;
	display: block;

	color: #2a2a2e;
	background: #f9f9f9;
	border: rgba(12, 12, 13, 0.2) 1px solid;
	border-radius: 4px;
	padding: 4px 0px 4px 9px;
	margin: -4px 5px 0 -9px;
}

.group .header.edit .name {
	display: none;
}

.group .header.edit .spacer {
	display: none;
}

.group .header .tab_count {
	margin-top: -5px;
	margin-right: 5px;
	padding: 3px 5px 3px 5px;

	border-radius: 0 0 3px 3px;

	background-color: rgba(12, 12, 13, 0.2);

	color: #ffffff;
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
}

.group .header .close {
	width: 20px;
	height: 20px;
	margin-right: -5px;
	position: relative;

	cursor: pointer;

	background-image: url(/icons/group_close.svg);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
}

.group .content {
	flex-grow: 1;
	margin: 4px;
	position: relative;
}

.group .top {
	height: 7px;

	position: absolute;
	top: -2px;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .right {
	width: 7px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	right: -2px;

	cursor: ew-resize;
}

.group .bottom {
	height: 7px;

	position: absolute;
	bottom: -2px;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .left {
	width: 7px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	left: -2px;

	cursor: ew-resize;
}

.group .top_right {
	width: 22px;
	height: 22px;

	position: absolute;
	top: -2px;
	right: -2px;

	cursor: nesw-resize;
}

.group .bottom_right {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: -2px;
	right: -2px;

	cursor: nwse-resize;
}

.group .bottom_left {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: -2px;
	left: -2px;

	cursor: nesw-resize;
}

.group .top_left {
	width: 22px;
	height: 22px;

	position: absolute;
	top: -2px;
	left: -2px;

	cursor: nwse-resize;
}
