
h2 {
	border-bottom: solid 1px #d7d7db;
	line-height: 2em;
}

section label {
	width: 220px;
	display: inline-block;
	line-height: 2em;
}

section input[type=radio] {
	height: 2em;
	display: inline-block;
	vertical-align: bottom;
}

.keyboardShortcuts button {
	width: 80px;
	text-align: center;
	margin: 0em;
}

.keyboardShortcuts input {
	width: 120px;
}
