
.tab, .newtab {
	position: absolute;

	cursor: pointer;

	_transition: all 100ms cubic-bezier(.08,.82,.17,1);
	_transition-property: width, height, top, left;
}

.tab:hover .inner {
	outline-color: #ff9400 !important;
}

.tab.selected .inner {
	outline: #45a1ff 2px solid !important;
}

.tab .inner, .newtab .inner {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
}

.tab.inactive .inner {
	opacity: 0.75;
}

.tab .inner {
	border: #ffffff 3px solid;
	border-bottom: #ffffff 24px solid;

	outline: 1px solid #cccccc;

	background-color: #f9f9fa;
	background-size: cover;
	background-position: top;

	transition: opacity 500ms cubic-bezier(.08,.82,.17,1), transform 500ms cubic-bezier(.08,.82,.17,1);
}

.newtab .inner {
	border: #cccccc 2px dashed;

	background-image: url(/icons/plus_gray.svg);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;
}

.tab.drag .inner {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	outline: none;

	opacity: 0.5;
	transform: scale(0.9);
	backdrop-filter: blur(10px);
}

.tab .favicon {
	width: 16px;
	height: 16px;

	position: absolute;
	left: 0;
	top: 0;

	border-right: #ffffff 3px solid;
	border-bottom: #ffffff 3px solid;
	border-radius: 0 0 2px 0;

	background-color: #ffffff;
	background-size: contain;

	display: none;
}

.tab .favicon.visible {
	display: block;
}

.tab .close {
	width: 16px;
	height: 16px;

	position: absolute;
	right: 0;
	top: 0;

	background-image: url(/icons/tab_close.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
}

.tab .name {
	height: 23px;

	position: absolute;
	bottom: -23px;
	left: 1px;
	right: 1px;

	font-size: 12px;
	text-align: center;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
}


.tab.small .inner {
	border-bottom-width: 20px;
	border-bottom-style: solid;
}

.tab.small .favicon {
	width: 100%;
	height: 100%;

	border: none;
	border-radius: 0;

	background-size: cover;
}

.tab.small .name {
	height: 18px;

	bottom: -20px;

	font-size: 10px;
	text-align: center;
	line-height: 15px;
}

.tab.small .close {
	width: 12px;
	height: 12px;

	position: absolute;
	right: 0;
	top: 0;

	background-image: url(/icons/close.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
}
