
body {
	margin: 0;

	background-color: #f9f9fa;

	font-family: sans-serif;
	-moz-user-select: none;
}

#groups {
	position: absolute;
	top: 4px;
	right: 42px;
	bottom: 4px;
	left: 4px;

	overflow: auto;
}

#toolbar {
	width: 28px;
	padding: 0 5px;

	position: fixed;
	top: 8px;
	right: 0;
	bottom: 8px;

	z-index: 1000000000;

	border-left: rgba(12, 12, 13, 0.1) 1px solid;

	background-color: inherit;
}

#toolbar .button {
	width: 28px;
	height: 28px;

	border-radius: 4px;

	background-repeat: no-repeat;
	background-position: center;
}

#toolbar .button:hover {
	background-color: rgba(12, 12, 13, 0.1);
}

#toolbar .button:active {
	background-color: rgba(12, 12, 13, 0.15);
}

#newGroup {
	background-image: url(/icons/plus_dark.svg);
}

#toggleTheme {
	background-image: url(/icons/theme_dark.svg);
}

#settings {
	background-image: url(/icons/preferences_dark.svg);
}

.drag_indicator {
	width: 2px;
	height: 100px;

	position: absolute;
	z-index: 1000000000;

	background-color: #00adff;

	display: none;
}

.drag_indicator.show {
	display: block;
}
