body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;

	background-color: #f9f9fa;

	font-family: sans-serif;
	-moz-user-select: none;
}

#groups {
	flex-grow: 1;
	margin: 4px;
	position: relative;
	overflow: auto;
}

#toolbar {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;

	border-bottom: rgba(12, 12, 13, 0.1) 1px solid;

	background-color: inherit;
}

#toolbar .button {
	width: 28px;
	height: 28px;
	margin: 4px;

	border-radius: 4px;

	background-repeat: no-repeat;
	background-position: center;
}

#toolbar .button:hover {
	background-color: rgba(12, 12, 13, 0.1);
}

#toolbar .button:active {
	background-color: rgba(12, 12, 13, 0.15);
}

#newGroup {
	background-image: url(/icons/plus_dark.svg);
}

#toggleTheme {
	background-image: url(/icons/theme_dark.svg);
}

#settings {
	background-image: url(/icons/preferences_dark.svg);
}

#pinnedTabs {
	display: flex;
	border-left: 1px solid #ccc;
	margin-left: 4px;
	padding: 0 4px;
}

#pinnedTabs .tab {
	width: 28px;
	height: 28px;
	margin: 4px;
	position: relative;
	background: #fff;
}

#pinnedTabs .tab .close,
#pinnedTabs .tab .name {
	display: none;
}

#pinnedTabs .tab .inner {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: none !important;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pinnedTabs .tab .favicon {
	border: 0;
	position: relative;
}
